mixin createProduct(product)
     .col-md-4
        .card.my-3
          img(src=`/images/${product.image}` alt=`${product.description}`).card-img-top 
          .card-body
            h4.card-title
              a(href=`/products/${product.id}`) #{product.name}
            small.text-muted  #{product.price} TL
          .card-footer
            
            a.btn.btn-outline-primary.btn-sm.ml-3(href=`/products/${product.id}`) Details
            a.btn.btn-outline-primary.btn-sm.ml-3(href="#") Add to Cart  
              