extends ../layouts/main-layout.pug
block content      
    .row
      .col-lg-3
        include ../includes/menu.pug
      .col-lg-9

    .row    
        .col-md-4 
            img(src=`/images/${product.image}` alt=`${product.description}`).img-fluid
        .col-md-8.pl-4
            p #{product.name}
            hr
            p #{product.description}
            hr
            p price: #{product.price}
            button(type="sumbit").btn.btn-primary.btn-lg Add to Card